.partner-list {
  margin-bottom: 20px;

  a {
    img {
      width: 45px;
      margin-right: 5px;
      float: left;
    }
  }
  .partner-list-partner {
    overflow: hidden;
    margin-bottom: 20px;

    h4 {
      font-weight: 700;
      margin-bottom: 0;
      margin-bottom: 0;
    }
    span {
      color: #888;
      font-size: 15px;
    }
  }
}
.partner-list-sidebar {
  a {
    overflow: hidden;
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #eee;

    &:last-child {
      border-bottom: none;
    }

    span {
      color: #888;
      font-size: 12px;
      display: block;
    }
  }
}
.partner-list-shortcode {
  margin-top: 40px;
  margin-bottom: 60px;
  a {
    img {
      width: 70px;
      margin-right: 15px;
    }
  }
}
.partner-main {
  h1, h2, h3, h4 {
    @media (max-width: @screen-xs-max) {
      text-align: center;
    }
  }
  .partner-photo {
    @media (min-width: @screen-sm-min) {
      margin: 5px 20px 20px 0;
    }
  }
  .btn-sm {
    padding: 3px 10px;
    font-size: 14px;
  }
}