// Headings

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}
h2, h3, h4, h5, h6 {
  color: @text-color;
}
h2 {
  color: @brand-primary;
  @media (min-width: @screen-md-min) {
    font-size: 45px;
  }
}
body {
  font-size: 14px;

  @media (min-width: @screen-md-min) {
    font-size: 17px;
  }
}


// ACF Page Layouts

.page-layout {
  padding-top: 10px;
  padding-bottom: 10px;
  
  @media (min-width: @screen-md-min) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.page-layout-image_feature:first-of-type {
  padding-top: 0;
}
.home .page-layout-image_feature:first-of-type {
  padding-top: 10px;
  padding-bottom: 10px;
  
  @media (min-width: @screen-md-min) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.page-layout-horizontal_line {
  hr {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
    
    @media (min-width: @screen-md-min) {
      max-width: 970px;
      margin-left: auto;
      margin-right: auto;
    }
    @media (min-width: @screen-lg-min) {
      max-width: 1170px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}


// Breadcrumbs

#breadcrumbs {
  color: #aaa;
  font-size: 14px;
  font-style: italic;
  padding-left: 3px;

  .breadcrumb_last {
    color: #333;
  }
  .fa.fa-home {
    font-size: 16px;
  }
}