// Grid settings
// -------------------------

@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;


// Brand colors
// -------------------------

@brand-primary:         #00733e;
@brand-warning:         #f9f859;
@brand-secondary:       #f9f859;
@brand-tertiary:        #f9cc59;
@brand-accent:          #aa5c00;


// Glyphicons path
// -------------------------

@icon-font-path:        "../vendor/bootstrap/fonts/";


// General
// -------------------------

@font-size-base:          17px;

// Header
// -------------------------

@navbar-margin-bottom:                0;
@navbar-default-bg:                   #fff;
@navbar-default-border:               transparent;

@navbar-default-toggle-border-color:  #fff;
@navbar-default-link-color:           #fff;
@navbar-default-toggle-hover-bg:      rgba(255,255,255,0.3);
@navbar-height:                       94px;

@navbar-default-link-hover-color:     #fff;
@navbar-default-link-hover-bg:        rgba(0,0,0,0.2);

@navbar-default-link-active-bg:       rgba(0,0,0,0.4);
@navbar-default-link-active-color:    #fff;

// Headings
// -------------------------

@headings-font-family:    'Open Sans', sans-serif;
@headings-font-weight:    300;
@headings-line-height:    1.1;
@headings-color:          @brand-primary;

@font-size-h1:            floor((@font-size-base * 2.6)); // ~36px
@font-size-h2:            floor((@font-size-base * 1.3)); // ~30px
@font-size-h3:            ceil((@font-size-base * 1.3)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.1)); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px

// Buttons
// -------------------------

@btn-default-color:       @brand-primary;
@btn-default-bg:          transparent;
@btn-default-border:      @brand-primary;

@btn-warning-color:              @brand-accent;
@btn-warning-bg:                 @brand-secondary;
@btn-warning-border:             darken(@btn-warning-bg, 5%);

@border-radius-base:      2px;
@border-radius-large:     2px;
@border-radius-small:     2px;