.content-info {
  margin-top: 30px;
  margin-bottom: 30px;

  .footer-subfooter-wrap {
    text-align: center;
    font-size: 16px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    @media (min-width: @screen-md-min) {
      text-align: left;
    }

    & > .col-md-5, & > .col-md-4, & > .col-md-3, & > .col-md-2 {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .nav {
      margin-top: 15px;
    }
    .nav > li > a {
      padding: 3px 5px 3px 5px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;

      &:after {
        content: ' ›';
      }
      &:hover {
        background: none;
        color: darken(@brand-primary, 10%);
      }
      @media (min-width: @screen-md-min) {
        text-align: right;
        margin-right: 20px;
      }
      @media (min-width: @screen-lg-min) { 
        margin-right: 50px;
      }
    }

    .recent-post {
      .attachment-thumbnail {
        width: 80px;
      }
      h3 {
        margin-bottom: 3px;
      }

      @media (min-width: @screen-md-min) {
        .attachment-thumbnail {
          float: left;
          width: 120px;
          margin-right: 15px;
        }
      }
    }
    .gform_fields {
      width: 80%;
      float: left;
      margin-bottom: 0;
    }
    .gform_footer {
      width: 15%;
      margin-left: 6px;
      float: left;
      margin-bottom: 0;
      
      .gform_button {
        width: 38px;
        height: 38px;
      }
    }
    .gform_wrapper .gfield {
      margin-bottom: 5px;
    }
  }
  .footer-content-wrap {
    padding: 30px 15px 40px;

    @media (min-width: @screen-md-min) {
      padding: 30px 0 100px;
    }

  }
  .footer-copyright-wrap {
    margin-top: 30px;
    font-size: 11px;
    color: #888;

    .footer-disclaimer {
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
    }

    p {
      text-align: center;
      padding: 10px 0;
      margin: 0;
    }
    a {
      text-decoration: underline;
    }
    img {
      margin: 20px auto 5px;
      display: block;
    }
  }
  .btn {
    border-color: #fff;
  }
}
.home .footer-subfooter-wrap {
  border-top: none;
}
.social-actions {
    width: 260px;
    padding: 10px 0;
    margin: auto;
    font-size: 10px;
    overflow: hidden;

    @media (min-width: @screen-md-min) {
      float: right;
    }

    .social-actions-item {
      width: 100px;
      min-height: 1px;
      float: left;
      overflow: hidden;
    }
    .gplus_share {
      width: 60px;
    }
}
.form_disclaimer {
  font-style: italic;
  font-size: 0.7em;
  clear: both;
}
.footer-social {
  text-align: center;
  display: block;
  margin-top: 5px;

  a {
    margin-left: 4px;
    margin-right: 4px;

    .fa-facebook-square, .fa-facebook {
      color: #3b5998;

      &:hover {
        color: darken(#3b5998, 10%)
      }
    }
    .fa-twitter {
      color: #00aced;

      &:hover {
        color: darken(#00aced, 10%)
      }
    }
    .fa-pinterest {
      color: #cb2027;

      &:hover {
        color: darken(#cb2027, 10%)
      }
    }
    .fa-instagram {
      color: #517fa4;

      &:hover {
        color: darken(#517fa4, 10%)
      }
    }
  }

  @media (min-width: @screen-md-min) {
    text-align: right;
    float: right;
    margin-top: 0;
  }
}