// Content wrapper
.wrap {
  margin-top: 30px;
}
.home .wrap {
  margin-top: 0;
}

// Main content area
.main {
  .sidebar-primary & {
    .make-sm-column(@main-sm-columns - @sidebar-sm-columns);
  }
}

// Events Cal
.tribe-events-venue .tribe-events-map-wrap {
  max-width: 362px;
}
.tribe-events-before-html h1 {
  @media (min-width: @screen-md-min) {
    font-size: 30px;
    margin-bottom: 30px;
  }
}