.banner {
  font-family: @headings-font-family;
  text-transform: uppercase;

  background-size: cover;
  &, a {
    color: #fff;
  }
  @media (max-width: @screen-md-max) {
    min-height: 0;
  }

  .navbar-brand {
    padding-top: 18px;
    padding-bottom: 0;

    img {
      width: 120px;
      height: 31px;
    }
    @media (max-width: @screen-sm-max) {
      height: 64px;
    }
    @media (min-width: @screen-sm-min) {
      padding-top: 18px;

    }
    @media (min-width: @screen-md-min) {
      padding-top: 22px;

      img {
        width: 180px;
        height: 47px;
      }
    }
    @media (min-width: @screen-lg-min) {
      padding-top: 18px;

      img {
        width: 240px;
        height: 62px;
      }
    }
  }
}
.navbar-toggle {
  padding: 2px 8px;
  font-size: 15px;
  margin-top: 16px;
  margin-bottom: 16px;
  border-width: 3px;
}
.social-header {
  padding: 15px 20px 5px 0;
  text-align: center;
  
  .fa {
    font-size: 20px;
    margin-left: 20px;
  }

  @media (min-width: @screen-sm-min) {
    padding: 22px 9px;
    text-align: left;
    float: right; 
  
    .fa {
      font-size: 16px;
      margin-left: 10px;
    }
  }
  @media (min-width: @screen-md-min) {
    padding: @navbar-padding-vertical @navbar-padding-horizontal;
    .fa {
      font-size: 20px;
    }
  }
}
.member-header {
  font-weight: 700;
  position: absolute;
  top: -30px;
  right: 30px;
  font-size: 13px;
}
.navbar-nav {
  text-align: center;
  
  @media (max-width: @screen-sm-max) {
    margin-top: 0;
  }
  @media (min-width: @screen-sm-min) {
    text-align: left;
  }
}
.navbar-nav {
  font-family: @headings-font-family;
  text-transform: uppercase;
  font-weight: 700;

  @media (min-width: @screen-md-min) {
    font-size: 19px;
  }
  @media (min-width: @screen-lg-min) {
    font-size: 21px;
  }
}

.navbar-nav > li > a {
  @media (max-width: @screen-sm-max) {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  @media (min-width: @screen-sm-min) {
    margin-top: 16px;
    padding-left: 9px;
    padding-right: 9px;
  }
  @media (min-width: @screen-md-min) {
    margin-top: 0;
    padding: @navbar-padding-vertical @navbar-padding-horizontal;
  }
}
.header-band {
  background: #000;
  background: rgba(0,0,0,0.4);

  @media (min-width: @screen-md-min) {
    margin: 40px 0;
  }

  .container {
    position: relative;
  }
}