.image-feature {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: auto;
  }
  .feature-content {
    padding: 15px;
    background: #000;
    background: rgba(0,0,0,0.6);
    color: #fff;

    h1, h2, h3, h4, h5, h6 {
      color: #fff;
    }
    & > h1:first-of-type, & > h2:first-of-type, & > h3:first-of-type, & > h4:first-of-type {
      margin-top: 0;
    }
    .btn {
      background: @brand-secondary;
      color: @brand-accent;

      &:hover, &:focus {
        background: @brand-tertiary;
      }
    }

    @media (min-width: @screen-md-min) {
      padding: 20px;
      width: 50%;
      position: absolute;
      right: 30px;
      bottom: 30px;

      h2 {
        font-size: 35px;
      }
    }
    @media (min-width: @screen-lg-min) {
      width: 43%;

      h2 {
        font-size: 42px;
      }
    }
  }
  h1, h2, h3, h4, h5 {
    img {
      max-width: 180px;
    }
  }
}
.image-features-dual {
  .image-feature {
    @media (min-width: @screen-md-min) {
      width: 49.5%;
      float: left;
      min-height: 320px;
      
      & > img {
        position: absolute;
        left: 0;
        top: 0;
        min-width: 100%;
        min-height: 100%;
        max-width: 1000px;
        max-height: 10000px;
        width: auto;
        height: auto;
      }
    }
    @media (min-width: @screen-lg-min) {
      min-height: 370px;    
    }
    .feature-content {
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
      margin-bottom: 20px;

      @media (min-width: @screen-md-min) {
        float: right;
        margin: 20px;
        width: 92%;
        margin: 40px 20px 30px;
      }
      @media (min-width: 1350px) {
        width: 70%;
        margin: 60px 50px 30px;
      }
      @media (min-width: 1500px) {
        width: 50%;
      }
    }
  }
  .image-feature-2 {
    @media (min-width: @screen-md-min) {
      float: right;
    }
    .feature-content {
      @media (min-width: @screen-md-min) {
        float: left;
      }
    }
  }
}