.page-header, .post-header {
  margin: 0;
  background-size: cover;

  h1 {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    
    @media (min-width: @screen-sm-min) {
      font-size: 44px;
    }
  }
}

// FreshFruit page specific styles
.page-id-27 {
  .page-layout-wysiwyg-1 {
    img {
      margin-bottom: 40px;
    }
    hr {
      clear: both;
    }
  }
}