.post-header {
  margin-bottom: 30px;

  h1 {
    margin-bottom: 10px;
  }
  .entry-meta {
    color: #fff;
    background: #000;
    background: rgba(0,0,0,0.6);
    padding: 8px 10px;
    float: left;
    clear: both;

    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}
.hentry .entry-meta {
  color: #888;
  font-size: 12px;
  font-style: italic;
}
.hentry .entry-content { }
.hentry footer { }
#comments {
  border-top: 1px solid #ddd;
  padding-top: 20px;
  margin-top: 30px;

  li.comment {
    background: #efefef;
    padding: 15px;
  }
  .comment:nth-child(even) {
    background: #fff;
    border-bottom: 1px solid #eee;
  }
}
.comment-reply-link {
  .btn();
  .btn-primary();
  .btn-xs();
}