.testimonials-slideshow {
  @media (max-width: @screen-sm-max) {
    margin-right: -15px;
    margin-left: -15px;
  }    
}

.testimonial {
  background: @brand-primary;
  color: #fff;
  min-height: 144px;
  padding: 20px 20px 20px 20px;

  a {
    color: #fff;
    text-decoration: underline;
  }
  img {
    border-radius: 50%;
    float: left;
    margin: 0 15px 15px 0;
    width: 80px; 
  }

  @media (min-width: @screen-md-min) {
    margin-left: 65px;

    img {
      margin: -30px 20px -10px -65px;
      width: 160px;
    }
  }
}
.testimonial-stats {

  @media (min-width: @screen-md-min) {
    float: left;
    width: 36%;
  }
  @media (min-width: @screen-lg-min) {
    width: 33%;
  }

  span {
    display: block;
  }
  .testimonial-title {
    font-family: @headings-font-family;
    font-size: 19px;
    line-height: 1em;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 3px;
    padding-bottom: 5px;

    @media (min-width: @screen-md-min) {
      font-size: 26px;
    }
    @media (min-width: @screen-lg-min) {
      font-size: 32px;
    }
  }
  .testimonial-description, .testimonial-location, .testimonial-type {
    line-height: 19px;
  }
  .testimonial-description {
    max-width: 90%;
  }
  .testimonial-type {
    margin-top: 6px;
    font-size: 14px;
  }
}
.testimonial-content {
  position: relative;
  font-style: italic;
  line-height: 21px;
  margin-top: 45px;
  margin-left: 10px;
  font-size: 16px;
  clear: both;

  @media (min-width: @screen-md-min) {
    margin-top: 3px;
    float: left;
    width: 45%;
    clear: none;
  }
  @media (min-width: @screen-lg-min) {
    width: 51%;  
    margin-top: 8px;
    font-size: 17px;
  }
  
  &:before {
    position: absolute;
    top: -20px;
    left: -20px;
    font: normal normal normal 80px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f10d";
    color: rgba(0,0,0,0.1);

    @media (min-width: @screen-md-min) {
      top: -15px;
      left: -50px;
    }
  }
}
.testimonial-archive {
  .testimonial {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.testimonial-types-listing {
  text-align: center;
  font-family: @headings-font-family;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 24px;

  a:hover, a:focus {
    text-decoration: none;
  }

  .term-title {
    margin-top: 5px;
    display: block;
  }
  .testimonial-term-list-item {
    margin-bottom: 30px;
    background: #eee;
    padding: 10px;

    &:hover {
      background: #ddd;
    }
  }
}