.page-layout-panels {
  text-align: center;
  
  img {
    margin-bottom: 15px;
  }

  p {
    font-style: italic;
    color: #919191;
  }

  .col-md-4 {
    @media (max-width: @screen-sm-max) {
      padding-bottom: 20px;
    }
  }
}