.page-layout-video_hero {
  position: relative;
  overflow: hidden;

  @media (min-width: @screen-md-min) {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .container {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .vidwrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100; 
    height: 100%;
    width: 100%;  
    background-size: cover;
  }
  video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  }

  .video_overlay {
    background: #000;
    background: rgba(0,0,0,0.4);
    color: #fff;
    padding: 15px;
    margin-left: -15px;
    margin-right: -15px;

    h1, h2, h3, h4 h5, h6 {
      color: #fff;
      font-size: 20px;
    }

    @media (min-width: @screen-md-min) {
      background: rgba(0,0,0,0.6);
      margin-left: 0;
      margin-right: 0;
      padding: 30px;

      h1 {
        font-size: 44px;
      }
    }
    @media (min-width: @screen-lg-min) {
      h1 {
        padding-left: 100px;
        padding-right: 100px;
      }
    }
  }
}