.page-layout-wysiwyg {
  & > .container > h1:first-child,
  & > .container > h2:first-child,
  & > .container > h3:first-child {
    margin-top: 0;
  }
}
.page-layout-variation-green, .page-layout-variation-red {
  background: @brand-primary;
  margin: 40px 0;
  padding: 20px 0;

  &, h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }

  .btn {
    color: #fff;
    border-color: #fff;
    margin-top: 15px;
  }
}
.page-layout-variation-green:first-of-type, .page-layout-variation-red:first-of-type {
  margin-top: 0;
}
.page-layout-variation-red {
  background: @brand-secondary;
}

.home .page-layout-variation-green, .home .page-layout-variation-red {
  @media (min-width: @screen-md-min) {
    font-size: 19px;
  }
}

.page-layout-variation-red + .page-layout-variation-red,
.page-layout-variation-red + .page-layout-variation-green,
.page-layout-variation-green + .page-layout-variation-green,
.page-layout-variation-green + .page-layout-variation-red {
  margin-top: -40px;
}