.btn {
  text-transform: uppercase;
  font-weight: 700;
  font-family: @headings-font-family;
}
.main .btn {
  padding: 10px 22px;
}
.btn-default {
  border-width: 2px;
}
.btn-xs {
  padding-left: 12px;
  padding-right: 12px;
}
.button-primary {
  .btn();
  .btn-primary();
}

@media (max-width: @screen-sm-max) {
  .btn-lg {
    font-size: 17px;
    padding: 8px 12px;
  }
}

// Peat Share Buttons

.list-share {
  .clearfix();
  margin-bottom: 20px;
  padding-left: 0;

  li {
    list-style: none;
    float: left;
  }
  a, a:link, a:visited {
    .btn();
    .btn-default();
    border: 1px solid #aaa;
    font-size: 11px;
    margin-right: 10px;
    padding: 0 8px 0 0;
    color: #888;

    &:hover {
      border-color: #666;
      color: #666;
    }

    .fa {
      color: #fff;
      padding: 3px 5px;
      margin-right: 3px;
      font-size: 13px;
    }
    .count {
      padding-left: 8px;
      margin-left: 4px;
      font-weight: 500;
      border-left: 1px solid #ccc;
    }
  }
  .google-plus {
    .fa {
      background: #dd4b39;
    }
  }
  .facebook {
    .fa {
      background: #3b5998;
    }
  }
  .linkedin {
    .fa {
      background: #007bb6;
    }
  }
  .twitter {
    .fa {
      background: #00aced;
    }
  }
}