.wrap .gform_wrapper {
    .well();
}
.gform_wrapper {
    .ginput_complex {

        label {
            color: #777;
            font-weight: 500;
            font-size: 0.85em;
        }

        .ginput_left {
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 0;
        }
    }

    .ginput_quantity {
        width: 45px;
        text-align: center;
        display: inline;
    }

    .gform_title {
        margin-top: 0;
    }

    .gform_description {
        display: block;
        margin-bottom: 20px;
    }
}

.gform_wrapper ul {
    .list-unstyled();

    .gfield_radio, .gfield_checkbox {
        margin-left: 20px;

        li {
            margin-bottom: 0;
        }

        label {
            font-weight: 500;
        }

        input {
            display: inline;
            width: auto;
            margin-right: 10px;
            margin-top: 0;
            height: 20px;
        }
    }

    .gf_list_inline {

        .gfield_radio {

            li {
                display: inline;
                margin-right: 20px;
            }
        }
    }
}

.ginput_full {
    display: block;
}

.gfield {
    clear: left;
}

.ginput_right,
.ginput_left {
    float: left;
    width: 49%;
    margin-right: 2%;
}

.gf_left_half,
.gf_right_half {

    @media (min-width: @screen-xs) {
        float: left;
        width: 49%;
        margin-right: 2%;
    }
}

.ginput_right,
.gf_right_half {
    clear: none;
    margin-right: 0;
}

.gform_wrapper .gfield {
    .form-group();
}

.gform_wrapper form {
    margin-bottom: 0;
}

.gform_wrapper .gfield_label {

}

.gform_wrapper .gfield_required {
    padding-left: 1px;
    color: @state-danger-text;
}

.gform_wrapper .ginput_container input,
.gform_wrapper .ginput_container select,
.gform_wrapper .ginput_container textarea {
    .form-control();
}

.gform_wrapper .ginput_container input[type="radio"],
.gform_wrapper .ginput_container input[type="checkbox"] {
    width: auto;
    display: inline-block;
    margin-right: 10px;
    height: auto;
    box-shadow: none;
}

.gform_wrapper .ginput_container textarea {
    height: auto;
}
.gform_wrapper .ginput_container textarea.small {
    height: 80px;
}

.gform_wrapper .gform_button {
    .btn();
    .btn-primary();
}

.gform_wrapper .gfield_error {

    .gfield_label {
        color: @state-danger-text;
    }

    input,
    select,
    textarea {
        border-color: @alert-danger-border;
        background-color: @alert-danger-bg;
        color: @alert-danger-text;
        .form-control-focus(@alert-danger-text);
    }
}

.validation_error {
    .alert();
    .alert-danger();
}

#gforms_confirmation_message {
    .alert();
}

.gform_validation_container {
    display: none;
}
#loginform {
    .input {
        .form-control();
    }
}