// Captions
.wp-caption {
  &:extend(.thumbnail all);
}

.wp-caption-text {
    &:extend(.thumbnail .caption);
}

// Gallery shortcode
.gallery-row {
  padding: (@line-height-computed / 2) 0;
}

img {
  max-width: 100%;
  height: auto;
}
h1 img, h2 img, h3 img, h4 img, h5 img {
  width: auto;
  height: auto;
}