// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

.aligncenter {
  display: block;
  margin: (@line-height-computed / 2) auto;
}
.alignleft,
.alignright {
  display: block;
  margin: 0 auto (@line-height-computed / 2);
}
figure.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}

@media (min-width: @screen-sm-min) {
  // Only float images if not on an extra small device like smartphones
  .alignleft {
    float: left;
    margin: 0 (@line-height-computed / 2) (@line-height-computed / 2) 0;
  }
  .alignright {
    float: right;
    margin: 0 0 (@line-height-computed / 2) (@line-height-computed / 2);
  }
}
#tinymce {
  padding: 20px;
}